<!DOCTYPE html>
<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('result')}}">
           <b> Enter text to translate :  <input type="text", name='text', placeholder="enter 1"> <br><br>
           <b> Enter model :  <input type="text", name='model', placeholder="enter 2"> <br><br>
            <input type="submit" , value='Translate' >
        </form>

        
    </center>

    </body>
</html>