


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    

    <div class="topnav">
        <a class="active" href="{{ url_for('home') }}">Welcome !</a>
        <a href="{{ url_for('home') }}">Text translation</a>
        <a href="{{ url_for('audio') }}">Audio translation</a>
        <a href="{{ url_for('micro') }}">Microphone</a>
        <a href="{{ url_for('identifier') }}">Language identification</a>
      </div>
      


    <img src='static\r12.png' alt="logo" width="65" height="170">
    <br>
    <form method="POST", action="{{url_for('result')}}"> 

             

    
    <label for="fname">Text:</label>
    <input type="text" name="text">

    <label for="fname">Model:</label>
    <input type="text" name="model">
    <input type="submit" value="Translate" id="Translate">

    <textarea readonly rows="13" cols="80" minlength="10" maxlength="30">


        Translation : {{ translation }}


        Word count :  {{ wordcount }}


        Characters :  {{ character }}


    </textarea>
    </form>
</body>
</html>